<html>
  <head><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script></head>
  <script>
    
  </script>
  <style>
    table{
      text-align: center;
      border-color: red;
      margin: auto;
      width: 500px;
    }
    caption{
      size: 20px;
      font-size: large;
    }
    td{
      height: 40px;
    }
    #con-form1{
      margin-top: 40px;
    }
    .head-font-table{
      font-weight: bold;
      color: darkblue;
    }
    .custom-td{
      text-align: left;
      padding-left: 10px;
    }
  </style>
  <body>
  <div>
    <h1 style="text-align: center;">Logic Test Quiz</h1>
    <div id="con-form1">
    <table border="2">
      <caption class="head-font-table">FORM 1</caption>
      <th>
        ID
      </th>
      <th>
        VALUE
      </th>
      <th>
        TYPE
      </th>
        <tr *ngFor="let item of jsonData.form">
          <td>{{item.id}}</td>
          <td>{{item.value}}</td>
          <td class="custom-td">
            <div *ngIf="item.type == 'text'"><input type="text"  name=""></div>
            <div *ngIf="item.type == 'radio'"><input type="radio"  name="" ><label >{{item.value}}</label></div>
          </td>
        </tr>
    </table>
    </div>
    <p></p>
    <div id="con-form2">
      <table border="2">
        <caption class="head-font-table">FORM 2</caption>
        <th>
          ID
        </th>
        <th>
          VALUE
        </th>
        <th>
          TYPE
        </th>
          <tr *ngFor="let item of jsonData.form">
            <td>{{item.id}}</td>
            <td>{{item.value}}</td>
            <td class="custom-td">
              <div *ngIf="item.type == 'text'"><input type="text"  name=""></div>
              <div *ngIf="item.type == 'radio'"><input type="radio"  name="" ><label >{{item.value}}</label></div>
            </td>
          </tr>
      </table>
      
    </div>
  </div>
  </body>
</html>